<?xml version="1.0"?>
<config>
    <modules>
        <Oggetto_ZoomImage>
            <version>0.1.0</version>
        </Oggetto_ZoomImage>
    </modules>
    <frontend>
        <routers>
            <zoomimage>
                <use>standard</use>
                <args>
                    <module>Oggetto_ZoomImage</module>
                    <frontName>index</frontName>
                </args>
            </zoomimage>
        </routers>
        <layout>
            <updates>
                <zoomimage>
                    <file>zoomimage.xml</file>
                </zoomimage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <zoomimage>
                <use>admin</use>
                <args>
                    <module>Oggetto_ZoomImage</module>
                    <frontName>zoomimage</frontName>
                </args>
            </zoomimage>
        </routers>
    </admin>
    <global>
        <blocks>
            <zoomimage>
                <class>Oggetto_ZoomImage_Block</class>
            </zoomimage>
        </blocks>
        <helpers>
            <zoomimage>
                <class>Oggetto_ZoomImage_Helper</class>
            </zoomimage>
        </helpers>
    </global>
</config>